/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    font-family: 'Muli', 'Baloo Da 2', 'Montserrat', sans-serif;
  }
  body {
    font-family: Arial;
    padding: 10px;
    background: #5aafc9;
  }